{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">

    <!-- --- Side bar --- -->
    <div class="col-3 mt-5">

      <div class="sidebar-box mb-3">
        <legend class="border-bottom pl-2 legend">Channels</legend>
        <div class="overflow">
          {% for channel in defaultChannels %}
            <ul class="list-group p-2">
              <li class="channel">
                <i class="fa fa-2x fa-connectdevelop fa-spin" aria-hidden="true"></i>
                {{ channel }}
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>

      <div class="sidebar-box mb-3">
        <legend class="border-bottom pl-2 legend">Online</legend>
        <div class="overflow">
          {% for channel in defaultChannels %}
            <ul class="list-group p-2">
              <li class="online-user">
                <i class="fa fa-lg fa-user-o" aria-hidden="true"><i class="fa fa-circle" style="font-size: 10px; color: green" aria-hidden="true"></i></i>
                {{ channel }}
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>

      <div id="channelDiv">
        <button type="button" id="newChannel" class="legend create-channel mt-2">Create Channel <i class="fa fa-plus" aria-hidden="true"></i></button>
        <form id="channelForm" style="display:none">
          Enter a username:<br>
          <input type="text" class="mt-2 input-box"><br><br>
          <button type="button" id="newChannel" class="legend create-channel mt-2">Go to channel <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </form>
      </div>

    </div>
    <!-- --- End side bar --- -->

    <!-- --- Chat area --- -->
    <div class="col-9">
      <div class="container">
        <div class="row mt-4">
          <div class="col-2"></div>
          <div class="col-10 chat-box">
            <div class="container">
              <legend class="pt-3 pl-2" style="font-family: monospace"><i class="fa fa-lg fa-comments-o" aria-hidden="true"></i>&nbspCHANNEL NAME</legend>
              <div class="row message-box-top m-2">
              </div>
              <div class="row message-box-bottom m-3">
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- --- End chat area --- -->

  </div>
{% endblock %}

{% block js %}
<!-- JS file -->
<script src="{{ url_for('static', filename='chat.js') }}"></script>
<!-- Socketio -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
{% endblock %}