{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">

    <!-- --- Side bar --- -->
    <div class="col-lg-4 col-md-12 col-sm-12 mt-5">

      <div class="sidebar-box mb-3">
        <legend class="border-bottom pl-2 legend">Channels</legend>
        <div id="channelList" class="col overflow">
          {% for channel in defaultChannels %}
          <ul style="list-style-type:none;" class="list-group p-2">
            <li class="channel">
              <i class="fa fa-2x fa-connectdevelop fa-spin" aria-hidden="true"></i>
              {{ channel }}
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>

      <div class="sidebar-box mb-3">
        <legend class="border-bottom pl-2 legend">Online</legend>
        <div class="col overflow">
          {% for channel in defaultChannels %}
          <ul style="list-style-type:none;" class="list-group p-2">
            <li class="online-user">
              <i class="fa fa-lg fa-user-o" aria-hidden="true"><i class="fa fa-circle"
                  style="font-size: 10px; color: green" aria-hidden="true"></i></i>
              {{ channel }}
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>

      <div id="channelDiv">
        <div class="container">
          <div class="row">
            <p class="textNotif"></p>
            <button type="button" id="newChannel" class="legend create-channel mt-2">Create Channel <i
                class="fa fa-plus" aria-hidden="true"></i> </button>
          </div>
        </div>
        <div class="container">
          <div class="row" id="channelForm" style="display:none">
            <p class="channelNamePrompt">Enter channel name:</p>
            <input id="newChannelName" type="text" class=" input-box"><br><br>
            <button type="button" id="newChannel" class="newChannelButton legend create-channel mt-2">Go to channel <i
                class="fa fa-arrow-right" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div>
        <p class="textNotifBottom mt-2" style="color: rgb(161, 44, 79); font-family: 'Courier New', Courier, monospace; font-size: 16px;"></p>
      </div>

    </div>

    <!-- --- End side bar --- -->

    <!-- --- Chat area --- -->
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="container">
        <div class="row mt-4">
          <div class="col-sm-12 col-md-12 col-lg-9 chat-box">
            <div class="container">
              <legend id="currentChannel" class="pt-3 pl-2" style="font-family: monospace"><i
                  class="fa fa-lg fa-comments-o" aria-hidden="true"></i>&nbsp;{{ initialChannel }}</legend>
              <div class="container message-box-top">
                <p class="isTying ml-2"></p>
              </div>
              <div class="row">
                <input type="text" id="userMessage" class="col-8 text-wrap message-box-bottom m-3" class="form-control"
                  spellcheck="false" placeholder="Type here..." aria-label="Type a message"
                  aria-describedby="basic-addon2" autocomplete="off">
                <button id="sendMessage" class="col-2 submit-button mt-4" type="button"><i style="color:#f5e6e7;"
                    class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                <i class="fa col fa-2x float-right mt-5 fa-sign-out" data-toggle="modal" data-target="#logoffModal"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="logoffModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log Off</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your channels and messages will be deleted permanently.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="logOffButton" style="background-color: rgb(182, 53, 92);"
          class="btn btn-secondary">OK</button>
      </div>
    </div>
  </div>
</div>

</div>
<!-- --- End chat area --- -->

</div>
{% endblock %}

{% block js %}
<!-- JS file -->
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}